* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(135, 135, 135);
  display: flex;
}
.wrapper {
  margin: 5rem auto;
}
.heading {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 10px;
  align-items: center;
}
h1 {
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
}
input {
  width: 600px;
  height: 200px;
  border: 2px solid rgb(197, 192, 192);
  border-radius: 20px;
  background-color: rgb(57, 55, 55);
  font-size: 20px;
  position: relative;
  color: white;
}
input::placeholder {
  color: rgb(213, 212, 212);
  padding-left: 10px;
}

.textarea i {
  background-color: rgb(248, 107, 56);
  padding: 12px;
  border-radius: 8px;
  color: white;
  position: absolute;
  top: 57%;
  right: 27%;
}
button {
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 350px;
  border-style: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;

  font-size: 15px;
  color: aliceblue;
}
.buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: left;
}