* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(113, 112, 112);
  display: flex;
}
.wrapper {
  margin: 5rem auto;
}
.heading {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 10px;
  align-items: center;
}
h1 {
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
}
textarea {
  width: 600px;
  height: 200px;
  border: 2px solid rgb(197, 192, 192);
  border-radius: 20px;
  background-color: rgb(57, 55, 55);
  font-size: 20px;
  padding: 20px;
  color: white;
}
textarea::placeholder {
  color: rgb(213, 212, 212);
}
.textarea{
  position: relative;
}
.textarea i {
  background-color: rgb(248, 107, 56);
  padding: 12px;
  border-radius: 8px;
  color: white;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
button {
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 350px;
  border-style: none;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
width: 100%;
  font-size: 15px;
  color: aliceblue;
  text-align: left;
}
.buttons {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    margin: 2rem auto;
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    padding: 15px;
  }

  .heading h1 {
    font-size: 22px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }

  

  .buttons {
    padding-top: 25px;
  }
}